﻿<html>
<head>
    <title>Repsonse time</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Index.js"></script>
</head>
<body>
    <input type="text" id="txtBox" />
    <button id="btn" onclick="getUrl()">GO</button>
    <a href="http://vk.com/black_sabbath_alucard"></a>
    <a href="https://msdn.microsoft.com/en-us/library/system.text.regularexpressions.groupcollection(v=vs.110).aspx"></a>
    <a href="https://www.youtube.com/"></a>
    <a href="https://www.twitch.tv/directory"></a>
    <a href="http://www.ex.ua/"></a>
    <a href="http://www.artnet.com/"></a>
</body>
</html>